@media screen {

  * {
      font-family: sans-serif
  }

  body {
      padding-top: 50px;
      padding-left: 100px;
  }

  students {
      display: block;
      width: 800px;
  }

  img.student {
      width: 90px;
      height: 90px;
      border-radius: 55px;
      margin-left: 3px;
  }

}